<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>회원조회</div>
    <form action="/members" id="memberListForm" method="get">
        <div class="form-group">
            <label for="name">이름</label>
            <input id="name" name="name" placeholder="이름을 입력하세요" type="text"></br>
        </div>
        <button type="submit" id="search">조회</button>
    </form>
    <button type="button" id="searchAll">전체조회</button>
    <div>
        <table style="text-align:center">
            <thead>
            <tr>
                <th>#</th>
                <th>이메일</th>
                <th>비밀번호</th>
                <th>이름</th>
                <th>가입일</th>
                <th>수정일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.password}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.joindate}"></td>
                <td th:text="${member.editdate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
<script crossorigin="anonymous"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    $(document).ready(function (){
        $("#searchAll").onClick(function (event){
            event.preventDefault();
            searchAll();
        }
    );
    function searchAll(){
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/member/all",
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data){

            }
        });


    }
</script>


</body>
</html>